{{- if .Values.connectors.enabled }}
{{- range .Values.connectors.items }}
---
apiVersion: platform.confluent.io/v1beta1
kind: Connector
metadata:
  name: {{ .name }}
  namespace: {{ include "confluent-platform.namespace" $ }}
  labels:
    {{- include "confluent-platform.labels" $ | nindent 4 }}
spec:
  class: {{ .class }}
  taskMax: {{ .taskMax | default 1 }}
  connectClusterRef:
    name: connect
  configs:
    kafka.topic: {{ .topic }}
    {{- if .quickstart }}
    quickstart: {{ .quickstart }}
    {{- end }}
    key.converter: {{ .keyConverter | default "org.apache.kafka.connect.storage.StringConverter" }}
    value.converter: {{ .valueConverter | default "io.confluent.connect.avro.AvroConverter" }}
    value.converter.schema.registry.url: {{ include "confluent-platform.schemaRegistryUrl" $ }}
    {{- if .maxInterval }}
    max.interval: {{ .maxInterval | quote }}
    {{- end }}
    {{- if .iterations }}
    iterations: {{ .iterations | quote }}
    {{- end }}
    {{- range $key, $value := .extraConfigs }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
{{- end }}
{{- end }}
